# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/

# Node
node_modules/
.next/
.turbo/
.pnpm-store/
dist/
build/

# React Native / Expo
.expo/
**/android/app/build/
**/ios/build/

# Env
.env
.env.*

# Editor
.idea/
.vscode/


